/*
 * wizard staff
 */

/*
 * VARIABLES
 */

$background : #FFF;
$text       : #111;

/*
 * https://color.adobe.com/Theme-27-color-theme-5523408/
 */
$accent-1 : #154D59;
$accent-2 : #377D8C;
$accent-3 : #94E1F2;
$accent-4 : #62D9D9;
$accent-5 : #3FBFB2;


/*
 * SELECTION
 *  Because this is how you show you care.
 */
$selection-color      : $background;
$selection-background : $text;
::selection      { color : $selection-color; background : $selection-background;}
::-moz-selection { color : $selection-color; background : $selection-background;}


.home-menu {
    background: $accent-1;
    text-transform: lowercase;
    font-size: 2.5rem;
}

.pure-menu .pure-menu-heading {
    color: $background;
}

/*
 * Left Heading
 */
#left-heading {
  font-size: 1rem;
  right: 1%;
  top:1rem;
  position: absolute;
}
.header-img {
  height:3rem;
  position: relative;
  transform: translateY(25%);
}


/*
 * Sticky Footer
 *   http://mystrd.at/modern-clean-css-sticky-footer/
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px; /* bottom = footer height */
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;

  background: $accent-5;
  color: white;
  text-align: center;

  font-size: 1.3rem;

  div {
    padding-top: 5px;
  }

  a {
    text-decoration: none;
  }
  /* unvisited link */
  a:link {
    color: $accent-1;
  }

  /* visited link */
  a:visited {
    color: white;
  }

  /* mouse over link */
  a:hover {
    color: $accent-3;
  }

  /* selected link */
  a:active {
    color: white;
  }
}

/*
 * UTILITY CLASSES
 */
/*
 * MIXINS
 */
$headshot-height : 11rem;
$name-height : 2.3rem;
#about-container {
  width: 60%;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  font-size: $name-height;
  .name {
    padding-top: ($headshot-height - $name-height) / 2;
    padding-bottom: ($headshot-height - $name-height) / 2;
  }
  .left-name{
    text-align: left;
  }
  .right-name{
    text-align: right;
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
.headshot-container{
  height: $headshot-height;
}
.circle {
  @include border-radius(50%);
}
.contained {
  max-width  : 100%;
  max-height : 100%;
}
.center {
  margin: 0 auto;
  text-align: center;
}

.pure-u-1-4 * {
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: $accent-1;
}

/* visited link */
a:visited {
  color: gray;
}

/* mouse over link */
a:hover {
  color: $accent-3;
}

/* selected link */
a:active {
  color: gray;
}
